@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace LLMGame

<root class="clear-dialog">
    <div class="dialog-title">Chat</div>
    <div class="dialog-content">
        <div class="list">
            @if (LocalPlayer != null) 
            {
                @foreach (var message in LocalPlayer.Memory)
                {
                    if (message.Content.StartsWith("<") && message.Content.EndsWith(">")) continue;
                    <div class="message">
                        <div class="title">@message.Owner.GetName()</div>
                        <div class="content">@message.Content</div>
                    </div>
                }
            }
            else 
            { 
@*                 @foreach (var message in LanguageModel.Instance.Messages)
                {
                    <div class="message">
                        <div class="title">@message.role</div>
                        <div class="content">@message.content</div>
                    </div>
                } *@
            }
        </div>
        <div style="width:100%; margin-top:4px; flex-shrink: 0;">
            <TextEntry class="chatentry layout marg-e" @ref=ChatTextEntry Placeholder="Enter a message" onsubmit=@Submit></TextEntry>
            <button onclick=@Submit>Submit</button>
            @* <button onclick=@Generate>Generate</button> *@
        </div>
    </div>
</root>

@code
{
    public PlayerComponent LocalPlayer { get; set; }
    public TextEntry ChatTextEntry { get; set; } 
    public void Submit()
    {
        //LanguageModel.Instance.Model = (string)dropDown.Selected.Value;
        //Log.Info(LanguageModel.Instance.Model);
        //EnvironmentMaker.Instance.AddEnvironment(textEntry.Value);
        //AskingForPrompt = false;
        if (ChatTextEntry.Value != "") { 
            if (LocalPlayer != null)
            {
                LLMScene.Instance.BroadcastAudibleMessage(LocalPlayer, $"\"{ChatTextEntry.Value}\"");
            }
            else
            {
                //LanguageModel.AddMessage("user", $"\"{ChatTextEntry.Value}\"");
            }
            ChatTextEntry.Text = "";
        }
        //LanguageModel.AddMessage("user", "Hello World!");
    }

    public override void Tick()
    {
        base.Tick();
        if (Input.Down("Chat"))
        {
            ChatTextEntry.Focus();
        }
    }
    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(LocalPlayer?.Memory?.Count, ChatTextEntry.Value );
}
