@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace LLMGame

@if (AskingForPrompt)
{
    <root class="dialog">
        <div class="dialog-title">Environment</div>
        <div class="dialog-content">
            <div class="title">Enter a prompt</div>
            <TextEntry class="layout marg-s" @ref=textEntry Placeholder="a lovely park"/>
            <button onclick=@Submit>Submit</button>
        </div> 
    </root>
}

@code {
    bool AskingForPrompt = true; 
    public TextEntry textEntry { get; set; }

    public EnvironmentPopup()
    {
        HUD.WantsCursor = true;
        Focus();
    }

    public void Submit()
    {
        EnvironmentMaker.Instance.AddEnvironment(textEntry.Value);
        AskingForPrompt = false;
        HUD.WantsCursor = false; 
    }
}
