$default-border-radius: 16px;

$margin-normal: 8px;
$padding-normal: 8px;

$margin-half: 4px;
$padding-half: 4px;

$padding-element: 6px;

HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
}

.dialog {
	background-color: #222222AA;
	border-radius: $default-border-radius;
	flex-direction: column;
}

.dialog-title {
	border-top-left-radius: $default-border-radius;
	border-top-right-radius: $default-border-radius;
	background-image: linear-gradient(90deg, #22222200, #22222288, #222222AA, #222222CC,#222222EE);
	font-family: Poppins;
	font-weight: 900;
	padding: $padding-normal;
	padding-bottom: $padding-half;
	color: #fff;
	align-items: center;
	text-align: center;
	font-size: 16px;
	flex-shrink: 0;
	transition: opacity 0.2s;
}
.dialog-content {
	padding: $padding-normal;
	padding-top: 0px;
	flex-direction: column;
	flex-grow:1;
}

.clear-dialog {
	background-color: #222222AA;
	border-radius: $default-border-radius;
	flex-direction: column;
	transition: background-color 0.2s;


	&:not(:focus) {
		background-color: transparent;

		.dialog-title {
			opacity: 0;
		}
	}
}

.flex {
	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}
}

.layout {
	&.pad {
		padding: $padding-normal;
	}

	&.pad-n {
		padding-bottom: $padding-normal;
	}

	&.pad-s {
		padding-bottom: $padding-normal;
	}

	&.pad-e {
		padding-right: $padding-normal;
	}

	&.pad-w {
		padding-left: $padding-normal;
	}

	&.marg {
		margin: $margin-normal;
	}

	&.marg-n {
		margin-bottom: $margin-normal;
	}

	&.marg-s {
		margin-bottom: $margin-normal;
	}

	&.marg-e {
		margin-right: $margin-normal;
	}

	&.marg-w {
		margin-left: $margin-normal;
	}
}

.title {
	font-weight: 800;
	font-family: Poppins;
	color: #fff;
}

.info {
	font-family: Poppins;
	color: #bbb;
}

.dropdown {
	min-height: 32px;
	margin-bottom: 4px;

	option {
		display: none;
	}
}

.textentry {
	border-radius: $default-border-radius;
	background-color: #222222AA;
	border: 0.5px solid #AAAAAA44;
	padding: $padding-element;
	min-height:32px;

	.label {
		padding: 0px;
	}
}

.button {
	min-height: 32px;
	border-radius: $default-border-radius;
	border: 0.5px solid #AAAAAA44;
	background-color: #222222AA;
	padding: $padding-element;
	align-items: center;
	justify-content: center;
	text-align: center;

	&:hover {
		background-color: #222222FF;
	}
}