@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace LLMGame

<root class="dialog">
    <div class="dialog-title">Settings</div>
    <div class="dialog-content"> 
        <div class="flex column layout pad-s">
            <div class="info">Press TAB to unlock mouse</div>
            <div class="info">This game uses OpenRouter, place an authorisation key in the data folder in a file named 'openrouter_token.txt'</div>
        </div>
        <div class="title">Endpoint</div>
        <EndpointSelector></EndpointSelector>
        <div class="title">Model</div>
        <ModelSelector></ModelSelector>
    </div>
    
</root>

@code
{

    public ILLMBeing SelectedThinker => (ILLMBeing)ThinkerDropDown?.Selected?.Value;
    public TextEntry ChatTextEntry { get; set; }
    public DropDown ThinkerDropDown { get; set; }

    void PopulateDropDown() {
        ThinkerDropDown.Options.Clear();
        var thinkers = Scene.GetAllComponents<ILLMBeing>();
        foreach (var thinker in thinkers)
        {
            ThinkerDropDown.Options.Add(new Option(thinker.GetName(), thinker));
        }
    } 

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(SelectedThinker?.Memory?.Count);
}
